.roof{
	width: 100%;
	height: 30%;
	background-color:  #5F0202;
	border-radius: 15px;
}


.finish{
	width: 20%;
	height: 10%;
	border-radius: 15px;
	background-color: #9AEB77;
	margin: 1px 40% 0% 0%; 
	font-size: 30px;
	text-align: center;
	line-height: 100%;
}
.dnf{
	width: 20%;
	height: 10%;
	border-radius: 15px;
	background-color: red;
	margin: 1px 40% 0% 0%; 
}
#preview{
	position:  absolute;
	left: 20%;
	top: 30%;
	width: 78%;
	height: 60%;
	border-radius: 15px;
	margin: 5px 0% 0% 6px; 
	background-color: gray;
	
}

